<div>
<div class="span8">
  <h2>SIMPLE TODO LIST</h2>
  <h3>FROM RUBY GARAGE</h3>


</div>
<div class="center hero-unit">
    <h1>
    <%= submit_tag "Add TODO List", class: "btn-primary" %>
    </h1>
</div>
